<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
</head>
<body>
    <h1>
        <a>p</a>
        <a>a</a>
        <a>g</a>
        <a>e</a>
        <a>4</a>
        <a>0</a>
        <a>3</a>
    </h1>
</body>
<style>
    body {
        text-align: center;
        padding: 100px;
        font-size: 100px;
        background: #0F1429;
    }
    h1 {
        color: cornsilk;
    }
</style>
</html>